.tooltip-model{
    position: fixed;
    z-index: 1;
    max-width: 350px;
    width: 350px;
    margin: auto;
    margin-top: -5px;
    margin-left: -125px;
    text-align: center;
    display: flex;
}

.view-data-status .tooltip-model{
    margin-left: -95px;
}

.view-tittle .tooltip-model{
    width: 555px;
    max-width: 555px;
    margin-left: auto;
}

.tooltip-model p{
    border: 1px solid black;
    background: white;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 10px 20px #00000085;
}